.deleteArea{
  height: 7rem;
  min-width: 215px;
  margin: 1rem 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border-top: solid 10px var(--color-red1);
  border-bottom: solid 10px var(--color-red1);
  border-radius: 8px;
}

.deleteArea-tittle{
  padding: 5px;

  font-size: x-large;
  color: var(--backcolor-black);
  background-color:var(--color-red1);
}

.active{
  background-color: var(--color-red1);
}

.inactive{
  background-color: var(--color-red2);
}