@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root{
  --color1:#5D51E2;
  --color-purple2:#151328;
  --color-green1:#32AD6F;
  --color-green2:#162222;
  --color-red1:#E23838;
  --color-red2:#221622;
  --color-blue1: #0051E2;
  --color-blue2:#001133;
  --backcolor-black:#120b1d;
}

*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;

  font-family: "Work Sans", sans-serif;
  font-style: normal;
}

html, body {
  max-width: 100%;
  height: 100%;
  overflow-x: hidden;
}

body{
  color: white;
  background-color: var(--backcolor-black);
}