.boardPage{
  width: 90%;
  margin: 10px auto;

  display: flex;
  justify-content: end;
}

.board{
  width:96%;
  margin: 1rem;
  display: flex;
  flex-direction: column;
}

.sideBar{
  width: 25%;
}

.innerSideBar{
  width: 15%;
  position: fixed;
  top: 0;
  left: 5%;
}