.taskCard{
  border: solid 2px #353063;
  border-radius: 5px;
  cursor: grab;
}

.taskCard:hover{
  transition: 0.08s;
  scale: 1.01;
}

.taskCard:active{
  border: solid 2px var(--color1);
  background-color: #2a2135;
}

.doneTask{
  background-color: #231D3A;
  border: solid 2px #231D3A;
  color: #b1b1b1;
}

.doneTask .taskCard-head{
  background-color: #231D3A;
  border: solid 2px #231D3A;
  color: #b1b1b1;
  text-decoration: line-through;
}

/*----------------------------------------------- [head] */
.taskCard-head{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;

  word-break: break-all;
  background-color: #353063;
}


.taskCard-icons{

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}

.taskCard-icons button{
  height: 16px;
  color: white;
  background:none;
  border: none;
  cursor: pointer;
}

.taskCard-tittle{
  width: 100%;
}

.taskCard-openButton{

  color: white;
  background:none;
  border: none;
  cursor: pointer;
}

/*----------------------------------------------- [body] */

.taskCard-body{
  padding: 10px;


  font-size: 0.9rem;
  font-weight: 300;
  background-color: #151328;
}