.taskCard{
  border-top: solid 2px #353063;
  border-bottom:solid 2px #353063 ;
  border-radius: 5px;
  cursor: grab;

  opacity: 1 !important;
}

.taskCard:active{
  opacity: 1 !important;

}

.taskCard:hover{
  transition: 0.08s;
  scale: 1.01;
}

.taskCard:active{
  border: solid 2px var(--color1);
  background-color: #2a2135;
}

.doneTask{
  background-color: #231D3A;
  border: solid 2px #231D3A;
  color: #b1b1b1; 
}

.doneTask .taskCard-head{
  background-color: #231D3A;
  color: #b1b1b1;
  text-decoration: line-through;
}

/*----------------------------------------------- [head] */
.taskCard-head{
  padding: 0px 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;

  word-break: break-all;
  background-color: #353063;
}


.taskCard-icons{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}

.taskCard-icons button{
  height: 16px;
  color: white;
  background:none;
  border: none;
  cursor: pointer;
}

.taskCard-tittle{
  width: 100%;
}

.taskCard-button{
  height: 100%;
  color: white;
  background:none;
  border: none;
  cursor: pointer;
}

/*----------------------------------------------- [body] */

.taskCard-body{
  padding: 1.5rem 1rem;
  border-bottom: solid 6px #353063;

  font-size: 0.9rem;
  font-weight: 300;
  background-color: #151328;


}

.taskCard-body p{
  inline-size: 75rem;
  overflow-wrap: break-word;
}


/*----------------------------------------------- [edit form] */

.taskCard-editForm{
  margin-bottom: 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.taskCard-editForm-input{
  height: auto;
  overflow: auto;
  padding: 0.8rem;

  resize: vertical;
  border: solid 3px var(--color-blue1);
  border-radius: 5px;
  background-color: #131230;
  color: white;
  outline: none;
}

.taskCard-editForm-buttons{
  margin-top: 0.4rem;
  display: flex;
}
.taskCard-editForm-doneButton{
  padding: 5px 15px;
  font-weight: bold;
  border: none;
  border-radius: 10rem;
  background-color: var(--color-blue1);
  color: white;
  cursor: pointer;
}
.taskCard-editForm-cancelButton{
  padding: 5px 15px;

  background: none;
  border: none;
  color: white;
  cursor: pointer;
}
