
.createForm{
  margin-bottom: 0.8rem;
}
.createForm-input{
  width: 95%;
  padding: 0.8rem;

  resize: vertical;
  border: solid 3px var(--color1);
  border-radius: 5px;
  background-color: #29173f;
  color: white;
  outline: none;
}
.createForm-buttons{
  margin-top: 0.4rem;
  display: flex;
}
.createForm-buttons-add{
  padding: 5px 15px;
  font-weight: bold;
  border-radius: 10rem;
  cursor: pointer;
}
.createForm-buttons-cancel{
  padding: 5px 15px;
  font-weight: bold;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

/* ----------------------------- CreateNewTaskButton */

.createButton{
  margin-bottom: 0.8rem;

  color: rgba(255, 255, 255, 0.719);

  background:none;
  border: none;

  cursor: pointer;
}

.createButton:hover{
  color: white;
}