
.createForm{
  margin-bottom: 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.createForm-input{
  padding: 0.8rem;

  resize: vertical;
  border: solid 3px var(--color1);
  border-radius: 5px;
  background-color: #1f1230;
  color: white;
  outline: none;
}
.createForm-buttons{
  margin-top: 0.4rem;
  display: flex;
}
.createForm-buttons-add{
  border: none;
  padding: 5px 15px;
  font-weight: bold;
  border-radius: 10rem;
  cursor: pointer;
}
.createForm-buttons-add:hover{
  background-color: var(--color1);
  scale: 1.1;
}
.createForm-buttons-cancel{
  padding: 5px 15px;

  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

/* ----------------------------- CreateNewTaskButton */

.createButton{
  margin-bottom: 0.8rem;

  color: #ffffffb7;

  background:none;
  border: none;

  cursor: pointer;
}

.createButton:hover{
  color: white;
}