

.todoCard{
  width: 15rem;
  margin: 1rem 2rem;



  border: solid 5px #32AD6F;
  border-radius: 8px;
}


.todoCard-tittle{
  padding: 5px;

  font-size: x-large;
  color: var(--backcolor-black);
  background-color:#32AD6F;
}


