.dropArea{
  height: 15px;
}

.dropArea-active{
  height: 15px;
  background: repeating-linear-gradient(
      -55deg,
      var(--color1),
      black 5px,
      var(--color1) 5px,
      black 10px
      );
}
