.boardPage{
  width: 95%;
  margin: 10px auto;

  
  display: flex;
  justify-content: end;
  gap: 1rem;
}

.board{
  width: 100%;
  margin: 1rem;
  display: flex;
  flex-direction: column;
}

.sideBar{
  width: 20%;
}