.groupCard {
  width: 90%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.groupCard-tittle {
  padding: 10px 15px;
  margin-bottom: 15px;

  display: flex;
  align-items: center;
  gap: 10px;

  font-size: large;
  color: var(--backcolor-black);
  background-color: var(--color1);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.groupCard-taskList {
  width: 95%;
  display: flex;
  flex-direction: column;

  margin-left: 2rem;
}

.activeGroup {
  background-color: #1f1f33;
}
